version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 50
    versioning-strategy: increase-if-necessary
    groups:
      ag-grid:
        applies-to: version-updates
        patterns:
          - "ag-charts-enterprise"
          - "ag-grid-enterprise"
          - "ag-grid-community"
          - "ag-grid-react"
      opentelemetry:
        applies-to: version-updates
        patterns:
          - "@opentelemetry/*"
      vuepress:
        applies-to: version-updates
        patterns:
          - "@vuepress/*"
          - "vue"
          - "vuepress*"
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "weekly"
