{
  "extends": "@equinor/eslint-config-fusion",
  "plugins": ["rxjs"],
  "rules": {
    "@typescript-eslint/no-empty-interface": [
      "warn",
      {
        "allowSingleExtends": true
      }
    ]
  }
}