/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

:root {
  --font-family-code: system-ui;
  --font-family: "Equinor", sans-serif !important;
  --font-family-fancy: "Equinor", sans-serif !important;
}