name: pr review dismissed
on:
  pull_request_review:  
    types: 
      - submitted

jobs:
  test:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set pull request to draft
        if: ${{ github.event.review.state == 'changes_requested' }}
        run: gh pr ready ${{ github.event.pull_request.number }} --undo
        env:
          GH_TOKEN: ${{ github.token }}
