name: PR

on: 
  pull_request: 
    types: 
      - ready_for_review
      - opened
      - reopened
      - synchronize

concurrency:
  group: pr-${{ github.event.pull_request.id }}
  cancel-in-progress: true
  
jobs:
  code-quality:
    name: Check Code
    runs-on: ubuntu-latest
    env:
      REVIEWDOG_GITHUB_API_TOKEN: ${{ github.token }}
    steps:
      - name: Determin reporter type
        uses: haya14busa/action-cond@v1
        id: reporter
        with:
          cond: ${{ github.event.pull_request.draft }}
          if_true: "github-pr-check"
          if_false: "github-pr-review"

      - name: Determine Checkout Depth
        uses: haya14busa/action-cond@v1
        id: fetch-depth
        with:
          cond: ${{ github.actor != 'dependabot[bot]' }}
          if_true: '0' 
          if_false: '1'
      - uses: actions/checkout@v4
        with:
          ref: "${{ github.event.pull_request.merge_commit_sha }}"
          fetch-depth: ${{ steps.fetch-depth.outputs.value }}
      
      - name: Setup node and install deps
        uses: ./.github/workflows/actions/node-setup
        with:
          turbo-cache: true

      - uses: reviewdog/action-setup@v1.2.0

      - name: Lint source files
        run: reviewdog --runners=eslint -reporter=${{ steps.reporter.outputs.value }} -fail-on-error
          
      - name: Build affected packages
        id: build
        continue-on-error: true
        uses: ./.github/workflows/actions/build-packages
        with: 
          only-affected: false

      - name: process-build-log
        run: node process-turbo-build-log.cjs > tsc-build.log

      - name: upload build log
        uses: actions/upload-artifact@v4
        with:
          path: tsc-build.log
          
      - name: Review build log
        run: cat tsc-build.log | reviewdog -f=tsc -reporter=${{ steps.reporter.outputs.value }} -fail-on-error

      - name: Check if build failed
        if: steps.build.outcome == 'failure'
        run: exit 1
      
      - name: Create Test Report
        run: pnpm test run

      - name: Create Test Coverage
        id: test-coverage  
        if: ${{ ! github.event.pull_request.draft }}
        run: pnpm test:coverage

      - name: Publish test coverage
        if: ${{ steps.test-coverage.conclusion == 'success' }}
        uses: davelosert/vitest-coverage-report-action@v2.2.0
