name: Pre-release

on: 
  workflow_dispatch:
    inputs:
      tag:
        description: 'Realse tag (PR)'     
        required: true

jobs:
  publish:
    name: Publish to PR
    runs-on: ubuntu-latest
    steps:

      - name: Checkout project
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: https://registry.npmjs.org

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install Node Dependencies
        run: yarn install --frozen-lockfile

      - name: Config git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Bump versions (pre-release)
        run: npx lerna version --yes --conventional-prerelease --no-changelog --no-git-tag-version --preid ${{ github.event.inputs.tag }}
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Commit changes
        run: |
            git add packages/*/package.json 
            git commit -m'chore(prerelease): bumped version with tag ${{ github.event.inputs.tag }}'
            git push
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Release packages
        run: npx lerna publish from-package --yes --dist-tag ${{ github.event.inputs.tag }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}

      