name: pre release

on: 
  workflow_dispatch:
    inputs:
      tag:
        description: 'Realse tag (PR)' 
        default: 'beta'    
        required: true
  workflow_call: 
    inputs:
      tag:
        type: string
        description: 'Realse tag (PR)' 
        required: true


concurrency:
  group: ${{ github.workflow }}-${{ inputs.tag }}
  cancel-in-progress: true

jobs:
  changsets:
    name: Version or publish packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure git user (trigger actor) 
        uses: ./.github/workflows/actions/config-git-user
        
      - name: Setup node and install deps
        uses: ./.github/workflows/actions/node-setup

      - name: Create snapshot
        uses: ./.github/workflows/actions/changeset-snapshot
        with:
          tag: ${{  inputs.tag }}
          npm-token: ${{ secrets.NPM_AUTH_TOKEN }}