name: Release NEXT

on:
  workflow_dispatch:
  push:
    branches:
      - next
    paths:
      - 'packages/**'

jobs:
  pre-release-pkg:
    name: Create pre-release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: next
          fetch-depth: 0
      
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: https://registry.npmjs.org

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install Node Dependencies
        run: yarn install --frozen-lockfile

      - name: Config git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*

      - name: Bump versions (pre-release)
        run: npx lerna version --yes --preid next --conventional-prerelease --create-release github
        continue-on-error: true
        env:
          GH_TOKEN: ${{ github.token }}

      - name: Release packages
        run: npx lerna publish from-package --yes --no-verify-access --pre-dist-tag next
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}