name: Release

permissions:
  actions: write
  checks: write
  contents: write
  deployments: write

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - 'packages/**'
      - 'utils/**'

jobs:
  release-pkg:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: '16'
          registry-url: https://registry.npmjs.org

      - uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install Node Dependencies
        run: yarn install --frozen-lockfile

      - name: Config git user
        run: |
          git config --global user.name "${{ github.actor }}"
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
        
      - name: Create release branch
        continue-on-error: true
        run: |
          git checkout -b "release/${{ github.run_id }}"
          git push --set-upstream origin "release/${{ github.run_id }}"

      - name: Bump versions
        run: npx lerna version --yes --force-git-tag --conventional-graduate --create-release github
        continue-on-error: true
        env:
          GH_TOKEN: ${{ github.token }}
      
      - name: Merge release to main
        run: |
          git checkout main
          git merge "release/${{ github.run_id }}"
          git push origin --delete "release/${{ github.run_id }}"
          git push -f origin main

      - name: Release packages
        run: npx lerna publish from-package --yes
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}